.App {
  text-align: center;
  background-color: #282c34;
}

.App-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-flow: row wrap;
}

.gifbox {
  margin: 15px;
}

/*.navbutton {
  font-size: 20px;
  margin: 40px;
  background: grey;
  border-color: silver;
}*/

.textarea {
  width: 200px;
  height: 20px;
  font-size: 15px;
  background-color: lightgrey;
}

button {
  margin: 10px;
  background-color: grey;
  border-color: silver;
}

nav {
  padding: 2em;
  text-align: right;
}

.navWide {
  display: none;
}

/*.navNarrow {
  .narrowLinks {
    display: none;

    Link {
      display: block;
      float: left;
      clear: left;
    }
  }
}*/

@media (min-width: 480px) {
  
  nav {

    .navWide {
      display: block;
    }

    .navNarrow {
      display: none;
    }
  }
}