.App {
  text-align: center;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-flow: row wrap;
}

.gifbox {
  margin: 15px;
}

.navbutton {
  font-size: 20px;
  margin: 40px;
  background: grey;
  border-color: silver;
}

.textarea {
  width: 200px;
  height: 20px;
  font-size: 15px;
  background-color: lightgrey;
}

button {
  margin: 10px;
  background-color: grey;
  border-color: silver
  ;
}