.App {
  text-align: center;
  background-color: #282c34;
}

.App-body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  color: white;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-flow: row wrap;
}

.gifbox {
  margin: 15px;
}


.textarea {
  width: calc(200px + 10vmin);
  height: calc(20px + 1vmin);
  font-size: 15px;
  background-color: lightgrey;
}

button {
  margin: 10px;
  background-color: grey;
  border-color: silver;
}

nav {
  float: left;
  padding: 2%;
  width: 10%;
  font-size: calc(10px + 2vmin);
}


@media (max-width: 800px) {
  nav, .App-body {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
